<h1>Form for current status/updates goes here.</h1>

<form ng-submit="doPost()">
	<table>
		<tr><th><label for="assetid">Asset ID</label></th><td><input type="text" id="assetid" ng-model="assetid" required></td></tr>
		<tr><th><label for="location">Location</label></th><td><input type="text" id="location" ng-model="location" required></td></tr>
		<tr><th></th><td><button type="Submit">Submit</button></td>
	</table>
</form>

<table>
	<thead>
		<tr>
			<th>id</th>
			<th>assetid</th>
			<th>location</th>
			<th>timestamp</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in rows">
			<td>{{row.id}}</td>
			<td>{{row.assetid}}</td>
			<td>{{row.location}}</td>
			<td>{{row.timestamp}}</td>
		</tr>
	</tbody>
</table>
